<h2>Recommended recipes</h2>
<section class="grid">
    <mat-card class="card" *ngFor="let recipe of recipes">
        <mat-card-header>
            <mat-card-title>
                <h3>{{ recipe.label }}</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="{{ recipe.image }}" alt="{{ recipe.label }}" height="250px" />
        </mat-card-content>
        <mat-card-actions>
            <button mat-button
                [routerLink]="'/recipe/' + recipe.uri.substr(recipe.uri.indexOf('#') + 8, recipe.uri.length)">Show
                recipe</button>
            <button mat-button>Save</button>
        </mat-card-actions>
    </mat-card>
</section>