/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/purple-green.css';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif
}

main {
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}